.new-products{
    margin: auto;
    width: 70%;
    margin-top: 6rem;
}

.products-description{
    width: 50%;
    margin: auto;
    
}
.products-description h1{
    margin-bottom: 3rem;
    font-weight: bold;
}
.products-description h1 span{
    color: tomato;
}
.products-card{
    margin-bottom: 10rem;
}
.products-card p{
    color: #4a4e4d ;
    font-weight: bold; 
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
}

/* style card */
.card{
    height: 370px;
    width: auto;
    position: relative;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
    user-select: none;
}
.card .front, .card .back{
    position: absolute;
    backface-visibility: hidden;
    height: 100%;
    width: 100%;
}
.card .front img{
    height: 100%;
    width: 100%;
}
.card .back{
    text-align: center;
    background-color:  #3da4ab ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: perspective(600px) rotateY(180deg);
    transition: 0.8s;
}
.card .back .content{
    font-size: 25px;
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.card:hover{
    transition: 0.5s;
    box-shadow: none;
    border: none;
}
.card .front{
    transform: perspective(600px) rotateY(0deg);
    transition: 0.8s;
}
.card:hover .back{
    transform: perspective(600px) rotateY(360deg);
}
.card:hover .front{
    transform: perspective(600px) rotateY(180deg);
}
.add-to-card{
    padding:  0.5rem;
    border-radius: 20px;
    outline: none !important;
    border: none;
    background-color: #2ab7ca;
    color: #f4f4f8;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, aqua);
    transition: all 0.5s;
    
}
.add-to-card:hover{
    background: #4a4e4d;
    color: #fe8a71;
    transform: scale(1.1);
}
.add-to-card:active{
    transform: translate(-50px, 50px);
}
.card-content{
    position: absolute;
    top: 102%;
    left: 50%;
    transform: translate(-50%);
}
.card-content h6{
    font-weight: bold;
}
.card-content p{
    color: #fe8a71;
}
.card-content p span{
    text-decoration: line-through;
    color: #635c5c;
    margin-left: 0.5rem;
}
