.best-seller{
    margin-top: 4rem;
    height: 80vh;
}
.best-seller .description{
    font-weight: 600;
    margin: auto;
    margin-bottom: 3rem;
    width: 40%;
    line-height: 3rem;
}
.best-seller .description h1{
    font-weight: bold;  
    margin-bottom: 2rem;
}
.best-seller .description h1 span{
    color: tomato !important;
}
.best-seller .card{
    color: #4a4e4d   !important;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5) !important;
}