.best-seller{
    margin-top: 4rem;
    height: 80vh;
}
.best-seller .description{
    font-weight: 600;
    margin: auto;
    margin-bottom: 3rem;
    width: 40%;
    line-height: 3rem;
}
.best-seller .description h1{
    font-weight: bold;  
    margin-bottom: 2rem;
}
.best-seller .description h1 span{
    color: tomato;
}