.list-products{
    padding: 0 !important;
    width: 80% !important;
    margin-top: 20rem !important;
    box-shadow: none !important;
    margin: auto;
   
   
}
.list-products .item-product{
    margin-bottom: 5rem;
    position: relative;
    overflow: hidden;
}
.list-products ,.item-product img{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
}
.list-products .item-product .content{
    height: 100%;
    width: 80%;
    position: absolute;
    z-index: 1;
    color: white;
    top: 100%;
    left: 50%;
    transform: translate(-50%);
    opacity: 0;
    transition: 1s;
    background-color: rgba(78, 26, 71, 0.3);
   
}
.list-products .item-product:hover .content{
    top: 50%;
    opacity: 1;
}