.Products{
   
}
.list-products{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 2rem;
    grid-row-gap: 3rem;
    margin-top: 5rem;
    margin-left: 10rem;
    margin-right: 10rem;
}

.list-products .item-product{
    position: relative;
    overflow: hidden;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    border-radius: 0.3rem;
    transition: 0.5s;
    cursor: pointer;
}
.list-products .item-product img{
    width: 100%;
    height: 100%;
}


.list-products .item-product .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: absolute;
    top: 100%;
    color: white;
    background-color: rgba(2, 34, 29, 0.2);
    transition: 1s;
    
}
.list-products .item-product:hover{
    transform: translate(0px, -20px);
}
.list-products .item-product:hover .content{  
    top: 0%;
}
.list-products .item-product .content h6{
    font-size: 16px;
    color: tomato;
    font-weight: bold;
}
.pagination-custom, h1, .input{
    grid-column-start: 1;
    grid-column-end: 5;
    text-align: center;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
   
    
}
.pagination-custom li{
    outline: none !important;
}
.Products h1{
    font-weight: bold;
    font-size: 4rem;
    color   : #5f5b5b;
}
.Products .input{
    text-align: right;
}
.Products input{
    width: 400px;
    border: none;
    border-bottom: 1px solid aqua;
    line-height: 2.5rem;
    outline: none;
}
.Products .input button{
    outline: none;
    color: white;
    background-color: #077f7f;
    padding: 0.6rem 1.2rem;
    margin-left: 1rem;
    border-radius: 0.5rem;
    border: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    transition: 0.5s;
}
.Products .input button:hover{
    background-color: tomato;
}
.Products .header{
    height: 50vh;
    background-color: #f1f1f1;
    position: relative;
}
.Products .header img{
    position: absolute;
    max-width: 450px;
    left: 20%;
    top: 50%;
    transform: translate(0px, -40%);
}
.Products .header h1{
    text-align: left;
    font-size: 50px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    width: 30%;
    right: 20%;
    transform: translate(0%, -50%);
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    animation: textAnimate 1.3s linear;
}
.Products .header h1 span{
    color: tomato;
}

@keyframes textAnimate{
    from{
        transform: rotate(0deg) scale(0);
    }
    to{
        transform: rotate(360deg) scale(1);
    }

}

